<header th:fragment="header_nav">
	<div class="navbar">
		<div class="nav-left">
	        <div class="logo">CHASE-DEVELOPER</div>
			<img th:src="@{/images/chaselogo.png}" class="icon">
	    </div>
	    
	    <div class="nav-center">
	        <div class="nav-links">
	            <a th:href="@{/}" class="nav-item">Home</a>
	            <a href="#projects" class="nav-item">Projects</a>
	            <a href="#contact" class="nav-item">Contact</a>
	        </div>
	    </div>
	
	    <div class="nav-right">
	        <div class="social-icons">
	            <a href="https://www.linkedin.com/in/leng-jia-yong-609689346/"><img th:src="@{/images/linkedin.png}" class="icon"></div> </a>
	            <a href="https://github.com/Chase-developer"><img th:src="@{/images/github.png}" class="icon"></div></a>
	        </div>
	    </div>
	</div>
	<div class="oracle">
	    <div class="oracle-badge">
			<span>Powered by Oracle Cloud</span>
	        <img th:src="@{/images/poweredbyOracle.png}">
	        
	    </div>
	</div>
</header>