

@keyframes shine {
    0% { background-position: 200%; }
    100% { background-position: -200%; }
}



.badge-showcase img {
	
    width: clamp(100px, 35vw, 350px); /* Prevents it from being too large */
	min-height: clamp(200px, 40vw, 400px); /* Prevents it from being too large */
	object-fit: contain; /* Prevents stretching while keeping aspect ratio */
	animation: floatAnimation 2s ease-in-out infinite;
}

.large-badge {
    border: 2px solid white;
    padding: var(--high-gap-size);
    margin-bottom: 20px;
    display: inline-block;
    max-width: clamp(250px, 50vw, 500px);
	
}

.large-badge img {
    width: clamp(50px, 10vw, 100px);
    height: clamp(50px, 10vw, 100px);
}



@media (max-width: 768px) {
    
}
