.tab-container {
	display: flex;
    justify-content: center;
	align-items: flex-start; /* Aligns items to the top */
    gap: 50px;
}

.tab
{
    border-radius: var(--border-radius);
    padding: 20px 10px;
    border: var(--border-style);
    background: var(--border-background); /* Semi-transparent background */
    position: relative;
    z-index: 10; /* Ensure it's above other elements */
}

.tab.block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab.markdown
{
    padding: 20px 10px;
    display: block;
    text-align: left;
    margin: auto; /* Center horizontally */
    word-wrap: break-word; /* Forces words to break if too long */
    overflow-wrap: break-word; /* Ensures text wraps properly */
    white-space: normal; /* Allows normal text wrapping */
    max-width: 95%;
}

.tab.markdown .tab-title{
    font-size: var(--title-font-size);
    font-weight: bold; 
    white-space: nowrap;
}

.tab.markdown .tab-header{
    font-size: var(--header-font-size);
    font-weight: bold; 
}

.tab.markdown .tab-content{
    font-size: var(--content-font-size);  
    margin-left: var(--mid-gap-size);   /* Adjust spacing as needed */
}

.tab-content .tab-content {
    margin-left: var(--mid-gap-size); /* Adjust spacing as needed */
}

.tab-content .highlight-gray {
    color: #B0B0B0;
}

.tab-content .highlight-cyan {
    color: #00C3FF;
}

.tab-content .next, 
.tab-content .previous {
    position: absolute;
    bottom: 10px; /* Aligns both buttons to the bottom */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(14px, 1.7vw, 36px);
}

.tab-content .previous {
    left: 10px; /* Aligns to the left bottom */
}

.tab-content .next {
    right: 10px; /* Aligns to the right bottom */
}

.highlight {
    color: red;
    font-weight: bold;
}

.tab-markdown .tab-seperator
{
    border: none;          /* Removes default HR styling */
    border-top: var(--border-style);
    width: 100%;           /* Full width */
    margin: 10px 0;        /* Space above & below */
}
.tab-markdown .tab-point {
    font-size: clamp(10px, 1.2vw, 30px);  
    margin-left: clamp(10px, 1.3vw, 30px); /* Adjust spacing as needed */
    display: block; /* Ensures it appears on a new line */
}

.tab-markdown pre {
    overflow-x: auto; /* Allows horizontal scrolling for code blocks */
    white-space: pre-wrap; /* Wraps text inside code blocks */
    word-wrap: break-word; /* Ensures long words in code blocks break */
}


.toggle-content {
	display: block;
    padding: 10px;
    transition: max-height 0.3s ease-out;
}

.toggle-content.show {
    display: none;
}

.toggle-btn {
	font: inherit;
    font-size: var(--header-font-size);
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    display: flex;
    align-items: left;
    gap: 8px;
}

.triangle {
    display: inline-block;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none; /* Hides the inactive image */
}


.tab-title {
	font-size: var(--header-font-size); /* Shared styles */
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
}

.tab-section {
	flex-direction: column; /* Stack elements vertically */
	align-items: center; /* Center align the elements */
	margin-top: 15px;
	display: flex;
	gap: 12px
}

.section-row {
	margin-top: 15px;
	display: flex;
	align-items: left;
	gap: 12px
}


.section-title
{
	font-size: var(--title-font-size); /* Shared styles */
    font-weight: bold;
    margin: 0 auto;
	text-align: left;
}

.section-desc
{
	font-size: var(--content-font-size); /* Shared styles */
    padding: 0 var(--mid-gap-size);
    margin: 0 auto;
	text-align: left;
}

.tab-icon
{
	width: 50px; /* Prevents it from being too large */
	height: 50px; /* Prevents it from being too large */
}

.nav-top {
	display: flex;
	flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the elements */
    text-align: center;
	width: 400px;
}

.nav-wiki {
	display: flex;
	flex-direction: column; /* Stack elements vertically */
    align-items: left; /* Center align the elements */
    text-align: left;
	width: 300px;
}

/* Hover Effect */
.nav-item:hover {
    color: #33ff33;
    transition: color 0.3s ease-in-out;
}

/* Mobile Fixes */
@media (max-width: 768px) {
    .tab-container {
        flex-direction: column; /* Stack content vertically */
        justify-content: center; /* Adjust as needed */
        max-width: 98vw;
        align-items: center;
    }
    
    .nav-top {
        width: clamp(300px, 35vw, 400px);
    }
}




