.skill-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Up to 5 badges per row */
    max-width: 500px; /* Adjust as needed */
    margin-top: 40px;
}

.skill-item {
    display: inline-block;
    text-align: center;
    height: 120px;
    width: 80px;
    transition: transform 0.2s ease-in-out;
}

.skill-item p {
    margin: 5px 0;  /* Adjust top and bottom spacing */
    padding: 0;  /* Remove any extra padding */
    line-height: 1.2; /* Reduce space between lines */
}

.skill-item:hover {
    transform: scale(1.1);
}

.skill-item img {
    width: 80px;
    height: 80px;
}

@media (max-width: 768px) {
    .skill-list {
        grid-template-columns: repeat(3, 1fr); /* Up to 5 badges per row */
    }
}