@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraProRegular2') format('woff2'),
         url('/font/CeraProRegular') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url('/fonts/HKGroteskRegular2') format('woff2'),
         url('/fonts/HKGroteskRegular') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*
@keyframes noise-waves {
  0% { background-position: 0px 0px; opacity: 0.8; }
  50% { background-position: 0px 0px; opacity: 0.4; }
  100% { background-position: 0px 0px; opacity: 0.8; }
}*/



body {
    font-family: 'CeraPro', 'HKGrotesk', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Ensure background is black */
    color: white;
    text-align: center;
}

:root
{
    --ex-font-size: clamp(22px, 5vw, 60px);/* Define a variable */
    --title-font-size: clamp(20px, 2.5vw, 40px);/* Define a variable */
    --header-font-size: clamp(18px, 1.7vw, 25px);  /* Define a variable */
    --content-font-size: clamp(14px, 1.2vw, 20px); /* Define a variable */
    --low-gap-size: clamp(4px, 1vw, 12px);
    --mid-gap-size: clamp(4px, 1.5vw, 18px);
    --high-gap-size: clamp(4px, 2vw, 24px);
    --layout-gap-size: clamp(20px, 5vw, 60px);
    --low-gap-size-neg: calc(-1 * var(--low-gap-size));
    --mid-gap-size-neg: calc(-1 * var(--mid-gap-size));
    --high-gap-size-neg: calc(-1 * var(--high-gap-size));
    --layout-gap-size-neg: calc(-1 * var(--layout-gap-size));
    --border-style: 4px solid rgba(255, 255, 255, 0.3);
    --border-radius: 10px; /* Rounded edges */
    --border-background: rgba(20, 20, 20, 0.8); /* Semi-transparent background */
}


section {
    padding: 50px 20px;
}



.link {
    color: white; /* Default white color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out; /* Smooth transition */
}

.link:hover {
    color: #4A90E2; /* Light blue on hover */
    text-decoration: underline; /* Underline on hover */
}

pre, code {
    background: transparent !important; /* Remove default background */
}

.section-text
{
    font-weight: bold;
    margin: 0 auto;
    margin-top: 50px;
}

.section-text.title {
    font-size: var(--title-font-size); /* Shared styles */  
}

.section-text.header {
    font-size: var(--header-font-size); /* Shared styles */  
}

.section-text.ex {
    font-size: var(--ex-font-size); /* Shared styles */  
}

.left {
    align-items: left;
    text-align: left;
}

.right {
    align-items: right;
    text-align: right; 
}

.center {
    align-items: center;
    text-align: center;
}

#titleleft {
    text-align: left; /* Aligns this one to the left */
}

#titlecenter {
    text-align: center; /* Aligns this one to the center */
}



