@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraProRegular2') format('woff2'),
         url('/font/CeraProRegular') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url('/fonts/HKGroteskRegular2') format('woff2'),
         url('/fonts/HKGroteskRegular') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*
@keyframes noise-waves {
  0% { background-position: 0px 0px; opacity: 0.8; }
  50% { background-position: 0px 0px; opacity: 0.4; }
  100% { background-position: 0px 0px; opacity: 0.8; }
}*/



body {
    font-family: 'CeraPro', 'HKGrotesk', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Ensure background is black */
    color: white;
    text-align: center;
}


section {
    padding: 50px 20px;
}

.link {
    color: white; /* Default white color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out; /* Smooth transition */
}

.link:hover {
    color: #4A90E2; /* Light blue on hover */
    text-decoration: underline; /* Underline on hover */
}

pre, code {
    background: transparent !important; /* Remove default background */
}

.title {
	border-radius: 10px;
    font-size: 36px; /* Shared styles */
    font-weight: bold;
    margin: 0 auto;
    margin-top: 100px;
}


#titleleft {
    text-align: left; /* Aligns this one to the left */
}

#titlecenter {
    text-align: center; /* Aligns this one to the center */
}

