<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <div th:insert="~{fragments/default :: head-content}"></div>
    <title>Error</title>
</head>
<body>
	<div class="background"></div>
	<canvas id="waveCanvas"></canvas>
	<div th:replace="~{fragments/default :: header-nav}"></div>
	
	<img th:src="@{/images/error.png}">
	<p id="titlecenter" class="title">Error</p>
	
    
    <section th:insert="~{fragments/default :: contact}"></section>
	<script th:src="@{/js/waveform.js}"></script>
	<script th:src="@{/js/badges.js}"></script>
	<script th:src="@{/js/textformat.js}"></script>
</body>
</html>


