<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/default :: head-content}"></div>
    <title>Chase's Portfolio</title>
	<link rel="stylesheet" th:href="@{/css/showcase.css}">
	<link rel="stylesheet" th:href="@{/css/skills.css}">
</head>
<body>
	<div class="background"></div>
	<canvas id="waveCanvas"></canvas>
	<div th:replace="~{fragments/default :: header-nav}"></div>
    
    <div class="intro-layout">
        
        <div class="img-stack">
            <video autoplay muted loop playsinline>
                <source th:src="@{/videos/background.webm}" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <img class="img border" th:src="@{/images/profileborder.png}">
            <img class="img pic" th:src="@{/images/face.png}">
        </div>
        <div id="quote" class="quote">
            <span id="text"></span><span class="cursor">|</span>
        </div>
        <div class="role">Leng Jia Yong | Full-Stack DevSecOps Engineer</div>
        
        <div class="intro">
            👋 Hi! My name is <span class="shine-text name">Chase</span>. 
            Welcome to my portfolio website!<br>
            <br>I am a self-taught 
            <span class="shine-text fullstack">Full-Stack Developer</span> with strong 
            <span class="shine-text cybersecurity">Cybersecurity</span>, 
                <span class="shine-text devops">DevOps & Cloud</span> skills. <br>
            <br>I have a deep passion for learning and a natural ability to pick up new skills quickly, 
            allowing me to adapt and grow in any technical environment.
            <br><br>Nice to meet you! 😁
            <br><br>Below are my Projects, Badges & Certifications and Technical Skillsets.
            <br><br>If you're curious about how I got here, I highly recommend checking out <a th:href="@{/home/journey}" class="link">[My Journey]</a> 
            <br>— a personal log of everything I've learned, tried, broken, and fixed along the way!
        </div>
        <p id="titlecenter" class="section-text title">Projects<br>
        <section id="projects">
            <div class="tab-container">
                <div class="tab block">
                    <div class="nav-top">
                        <div class="tab-title">Portfolio Website</div>
                        <div class="tab-section">
                            <p class="section-desc">
                                The website you are on right now!<br>
                                Documents the framework, decisions and technical systems
                            </p>
                            <a href="" class="section-desc">
                                <button class="sync-btn" th:attr="data-text=View">
                                  <span class="ui sync-layer sync-top small"></span>
                                  <span class="ui sync-layer sync-btm small"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab block">
                    <div class="nav-top">
                        <div class="tab-title">My Journey</div>
                        <div class="tab-section">
                            <p class="section-desc">
                                Documents the training, my actual roadblocks and how I overcame them
                            </p>
                            <a th:href="@{/journey}" class="section-desc">
                                <button class="sync-btn" th:attr="data-text=View">
                                  <span class="ui sync-layer sync-top small"></span>
                                  <span class="ui sync-layer sync-btm small"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab block">
                    <div class="nav-top">
                        <div class="tab-title">HackTheBox</div>
                        <div class="tab-section">
                            <p class="section-desc">
                                Documents my HackTheBox machines, challenges and reports
                            </p>
                            <a th:href="@{/htb}" class="section-desc">
                                <button class="sync-btn" th:attr="data-text=View">
                                  <span class="ui sync-layer sync-top small"></span>
                                  <span class="ui sync-layer sync-btm small"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <p id="titlecenter" class="section-text title">Badges & Certificates</p>
        <div class="item-showcase">
            <div class="item-selected">
                <img id="badgeImage" th:src="@{/images/{img}(img=${badges[0].image})}" th:alt="${badges[0].name}">
            </div>
            <div class="item-details">
                <h2 id="badgeTitle" th:text="${badges[0].name}"></h2>
                <p id="badgeDesc" th:text="${badges[0].description}"></p>
                <a id="badgeVerify" th:href="${badges[0].verifyLink}">
                    <button class="sync-btn" th:attr="data-text=VERIFY">
                      <span class="ui sync-layer sync-top small"></span>
                      <span class="ui sync-layer sync-btm small"></span>
                    </button>
                </a>
            </div>
    
        </div>
        <p id="titlecenter" class="section-text header">Selection</p>
        <div class="item-list">
            <div class="item" th:each="badge : ${badges}">
                <img class="badgeEl"
                     th:src="@{/images/{img}(img=${badge.image})}" 
                     th:alt="${badge.name}"
                     th:data-name="${badge.name}"
                     th:data-desc="${badge.description}"
                     th:data-verify="${badge.verifyLink}">
                <h2 class="item-title" th:text="${badge.name}"></h2>
            </div>
        </div>
        <h1 id="titlecenter" class="section-text title">Technical Skillsets</h1>
        <h1 id="titlecenter" class="section-text header">Open to learning new technology as needed</h1>
        <section id ="technical">
            <div class="tab-container">
                <div class="tab block">
                    <div class="nav-top">
                        <img th:src="@{/images/code.png}" class="tab-icon">
                        <div class="tab-title">Full-Stack Development</div>
                        
                        <div class="skill-list">
                            <div class="skill-item" th:each="skill : ${fullstack}">
                                <img th:src="@{/images/{img}(img=${skill.image})}" 
                                     th:alt="${skill.name}">
                                <p th:text="${skill.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab block">
                    <div class="nav-top">
                        <img th:src="@{/images/lock.png}" class="tab-icon">
                        <div class="tab-title">Cybersecurity</div>
                        
                        <div class="skill-list">
                            <div class="skill-item" th:each="skill : ${cybersecurity}">
                                <img th:src="@{/images/{img}(img=${skill.image})}" 
                                     th:alt="${skill.name}">
                                <p th:text="${skill.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab block">
                    <div class="nav-top">
                        <img th:src="@{/images/cloud.png}" class="tab-icon">
                        <div class="tab-title">DevOps & Cloud</div>
                        
                        <div class="skill-list">
                            <div class="skill-item" th:each="skill : ${devops}">
                                <img th:src="@{/images/{img}(img=${skill.image})}" 
                                     th:alt="${skill.name}">
                                <p th:text="${skill.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

    </div>
    <section th:insert="~{fragments/default :: contact}"></section>
    <th:block th:replace="~{fragments/default :: footer-script}"></th:block>

	<script th:src="@{/js/badges.js}"></script>
	<script th:src="@{/js/typewriter.js}"></script>
    <script th:src="@{/js/toggle.js}"></script>
</body>
</html>


