<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/waveform.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/badges.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<div class="background"></div>
	<canvas id="waveCanvas"></canvas>
	
    <header>
		
		<div class="navbar">
			<div class="nav-left">
		        <div class="logo">CHASE-DEVELOPER</div>
				<img th:src="@{/images/chaselogo.png}" class="icon">
		    </div>
		    
		    <div class="nav-center">
		        <div class="nav-links">
		            <a href="#about" class="nav-item">About</a>
		            <a href="#projects" class="nav-item">Projects</a>
		            <a href="#contact" class="nav-item">Contact</a>
		        </div>
		    </div>

		    <div class="nav-right">
		        <div class="social-icons">
		            <a href="https://www.linkedin.com/in/leng-jia-yong-609689346/"><img th:src="@{/images/linkedin.png}" class="icon"></div> </a>
		            <a href="https://github.com/Chase-developer"><img th:src="@{/images/github.png}" class="icon"></div></a>
		        </div>
		    </div>
	    </div>
		<div class="oracle">
		    <div class="oracle-badge">
				<span>Powered by Oracle Cloud</span>
		        <img th:src="@{/images/poweredbyOracle.png}">
		        
		    </div>
		</div>
		<div class="intro-container">
			<img th:src="@{/images/chaselogo.png}" class="intro-image">
			<div id="intro">
			    <p id="titleleft" class="intro-desc">👋 Hi! My name is <span class="name">Chase</span>. 
					Welcome to my portfolio website!<br>
					<br>I am a self-taught 
					<span class="fullstack">Full-Stack Developer</span> with strong 
					<span class="cybersecurity">Cybersecurity</span>, 
						<span class="devops">DevOps & Cloud</span> skills. <br>
					<br>I have a deep passion for learning and a natural ability to pick up new skills quickly, 
					allowing me to adapt and grow in any technical environment.
					<br><br>Nice to meet you! 😁
				</p>
			</div>
		</div>
		
    </header>
	<section id="badges">
		<p id="titlecenter" class="title">Badges & Certificates</p>
		<div class="badge-container">
		    <div class="badge-showcase">
		        <img id="bigBadge" th:src="@{/images/{img}(img=${badges[0].image})}" th:alt="${badges[0].name}">
		        <h2 id="badgeTitle" th:text="${badges[0].name}"></h2>
		        <p id="badgeDescription" th:text="${badges[0].description}"></p>
				<a id="badgeVerify" th:href="${badges[0].verifyLink}" target="_blank">VERIFY</a>
		    </div>
	
		    <div class="badge-list">
		        <div class="badge-item" th:each="badge : ${badges}">
		            <img class="small-badge"
		                 th:src="@{/images/{img}(img=${badge.image})}" 
		                 th:alt="${badge.name}"
		                 th:data-name="${badge.name}"
		                 th:data-desc="${badge.description}"
						 th:data-verify="${badge.verifyLink}">
		            <p th:text="${badge.name}"></p>
		        </div>
		    </div>
		</div>
	</section>
	<section id ="technical">
		<p id="titlecenter" class="title">Technical Skillsets<br>
		Open to learning new technologies as needed</p>
		<div class="tab-container">
			<div class="tab-block">
				<div class="nav-top">
					<img th:src="@{/images/code.png}" class="tab-icon">
			        <div class="tab-title">Full-Stack Development</div>
					<div class="tab-section">
						<div class="section-row">
							<div class="section-title">Languages</div>
							<div class="section-desc">
								JavaScript, HTML, CSS<br>
								Python, Java, C++
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Framework & Tools</div>
							<div class="section-desc">
								Github, Gradle, Maven<br>
								Eclipse, IntelliJ IDEA, Visual Studio<br>
								VS Code<br>
								JUnit, Spring Boot, Spring Security
								Thymeleaf, JPA, MyBatis, JDBC<br>
								SQL, NoSQL<br>
							</div>
						</div>
					</div>
			    </div>
		    </div>
			<div class="tab-block">
				<div class="nav-top">
					<img th:src="@{/images/lock.png}" class="tab-icon">
					<div class="tab-title">Cybersecurity</div>
					<div class="tab-section">
						<div class="section-row">
							<div class="section-title">Web App</div>
							<div class="section-desc">
								SQL Injection, XSS,<br>
								CSRF, OWASP Top 10
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Pen Testing</div>
							<div class="section-desc">
								Reverse Shell,<br>
								ExpoitDB, LFI,<br>
								Metasploit, Burp Suite
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Secure Coding</div>
							<div class="section-desc">
								Input Validation/Sanitization,<br>
								SSL/TLS, Authentication<br>
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Threat Analysis</div>
							<div class="section-desc">
								Splunk, SIEM tools<br>
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Incident Response</div>
							<div class="section-desc">
								Forensics, Threat hunting,<br>
								Mitigation Strategies,<br>
								Playbooks
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Cryptography</div>
							<div class="section-desc">
								Hashing, AES, RSA<br>
								Digital Signatures
							</div>
						</div>
					</div>
			    </div>
		    </div>
			<div class="tab-block">
				<div class="nav-top">
					<img th:src="@{/images/cloud.png}" class="tab-icon">
			        <div class="tab-title">DevOps & Cloud</div>
					<div class="tab-section">
						<div class="section-row">
							<div class="section-title">DevOps</div>
							<div class="section-desc">
								Github Actions, Automatic Deployment<br>
								Docker, Kubernetes 
							</div>
						</div>
						<div class="section-row">
							<div class="section-title">Cloud Computing</div>
							<div class="section-desc">
								Oracle Cloud, OCI Containers<br>
								OCI Compute, Block Volumes<br>
								Identity & Access Management<br>
								API Gateway
								<br>
							</div>
						</div>
					</div>
			    </div>
		    </div>
		</div>
	</section>
    
    <section id="projects">
		<p id="titlecenter" class="title">Projects<br>
		<div class="tab-container">
			<div class="tab-block">
				<div class="nav-top">
			        <div class="tab-title">Portfolio Website</div>
					<div class="tab-section">
						<p class="section-desc">
							The website you are on right now!
						</p>
						<a href="" class="section-desc">
							Source Code
						</a>
					</div>
			    </div>
		    </div>
		</div>
    </section>
    
    <section id="contact">
        <h2>Contact Me</h2>
        <p>Reach out via email gamerbrine1122@gmail.com</p>
    </section>
	<script th:src="@{/js/waveform.js}"></script>
	<script th:src="@{/js/badges.js}"></script>
	<script th:src="@{/js/textformat.js}"></script>
</body>
</html>


