<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="~{fragments/default :: head-content}"></div>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/badges.css}">
	<title th:text="${reportTitle}">Default Title</title>
</head>
<body>
	<div class="background"></div>
	<canvas id="waveCanvas"></canvas>
	<div th:replace="~{fragments/default :: header-nav}"></div>
	<p id="titlecenter" class="section-text title" th:text="${reportTitle}"></p>
    <section>
        <textarea id="raw-text" th:data-src="@{${reportFile}}" style="display:none;"></textarea>
        <div class="intro-layout">
            <div class="ui ref">
                <img th:src="@{/images/{img}(img=${HTBImg})}">
                <a th:href= "${HTBVerify}" class="section-text header link">VERIFY</a><br>
            </div>
        </div>
        
	    <div class="wiki-layout">
            <div class="content">
                
        	    
        	
        		    <!-- Raw Markdown (Hidden) -->
        			
        	
        
        	    <!-- Rendered Markdown -->
        		<div id="output" class="tab markdown">

                    <span class="loading-text">Loading...<span>
                </div>
            </div>
		    <div class="navigation">
				<div class="tab block">
					<div class="nav-wiki">
                        <button class="toggle-action" data-toggle-id="toggle-nav">
                            <div class="left">
                                <span id="toggle-nav-switch" class="triangle">
                                    <img th:src="@{/images/arrowdown.png}" class="arrow-icon">
                                    <img th:src="@{/images/arrowright.png}" class="arrow-icon hidden">
                                </span>
                                <span class="section-text header">
                                Reports
                                </span>
                            </div>

                        </button>
                        <div id="toggle-nav-content" class="toggle-content">
                            <th:block th:each="report : ${reports}">
                                <a th:href="@{'/htb/' + ${report.id}}" class="link" th:text="${report.name}"></a><br>
                            </th:block>
                        </div>
					</div>
				</div>
		    </div>
		</div>
	</section>
	
	<section th:insert="~{fragments/default :: contact}"></section>
	<script th:src="@{/js/waveform.js}"></script>
	<script th:src="@{/js/badges.js}"></script>
	<script th:src="@{/js/toggle.js}"></script>
	<script th:src="@{/js/markdown.js}"></script>
	
	
</body>
</html>

