<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/default :: head-content}"></div>
    <title>Chase's Portfolio</title>
	<link rel="stylesheet" th:href="@{/css/showcase.css}">
	<link rel="stylesheet" th:href="@{/css/skills.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<div class="background"></div>
	<canvas id="waveCanvas"></canvas>
	<div th:replace="~{fragments/default :: header-nav}"></div>
    <div class="intro-layout">
    	<div class="profile-container">
    		<div class="pfp-container">
    			<img class="pfp-border" th:src="@{/images/profileborder.png}">
    			<img class="pfp" th:src="@{/images/face.png}">
    	    </div>
    		<div class="quote-container">
    			<div class="quote">
    				<span id="quote-one"></span><span id="cursor-one" class="text-cursor">|</span><br>
    				<span id="quote-two" style="margin-top: 30px;"></span><span id="cursor-two" class="text-cursor" style="display: none;">|</span>
    			</div>
    			<p class="role">Leng Jia Yong | Full-Stack DevSecOps Engineer<p>
    	    </div>
    	</div>
    	<div class="intro-container">
    		<img th:src="@{/images/chaselogo.png}" class="intro-image">
    		<div id="intro">
    		    <p id="titleleft" class="intro-desc">👋 Hi! My name is <span class="name">Chase</span>. 
    				Welcome to my portfolio website!<br>
    				<br>I am a self-taught 
    				<span class="fullstack">Full-Stack Developer</span> with strong 
    				<span class="cybersecurity">Cybersecurity</span>, 
    					<span class="devops">DevOps & Cloud</span> skills. <br>
    				<br>I have a deep passion for learning and a natural ability to pick up new skills quickly, 
    				allowing me to adapt and grow in any technical environment.
    				<br><br>Nice to meet you! 😁
    			</p>
    		</div>
    	</div>
    	
    
    	<section id="badges">
    		<p id="titlecenter" class="title">Badges & Certificates</p>
    		<div class="badge-container">
    		    <div class="badge-showcase">
    		        <img id="bigBadge" th:src="@{/images/{img}(img=${badges[0].image})}" th:alt="${badges[0].name}">
    		        <h2 id="badgeTitle" th:text="${badges[0].name}"></h2>
    		        <p id="badgeDescription" th:text="${badges[0].description}"></p>
    				<a id="badgeVerify" th:href="${badges[0].verifyLink}" target="_blank" class="link">VERIFY</a>
    		    </div>
    	
    		    <div class="badge-list">
    		        <div class="badge-item" th:each="badge : ${badges}">
    		            <img class="small-badge"
    		                 th:src="@{/images/{img}(img=${badge.image})}" 
    		                 th:alt="${badge.name}"
    		                 th:data-name="${badge.name}"
    		                 th:data-desc="${badge.description}"
    						 th:data-verify="${badge.verifyLink}">
    		            <h2 th:text="${badge.name}"></h2>
    		        </div>
    		    </div>
    		</div>
    	</section>
    	<section id ="technical">
    		<p id="titlecenter" class="title">Technical Skillsets<br>
    		Open to learning new technologies as needed</p>
    		<div class="tab-container">
    			<div class="tab-block">
    				<div class="nav-top">
    					<img th:src="@{/images/code.png}" class="tab-icon">
    			        <div class="tab-title">Full-Stack Development</div>
    					
    					<div class="skill-list">
    				        <div class="skill-item" th:each="skill : ${fullstack}">
    				            <img th:src="@{/images/{img}(img=${skill.image})}" 
    				                 th:alt="${skill.name}">
    				            <p th:text="${skill.name}"></p>
    				        </div>
    				    </div>
    			    </div>
    		    </div>
    			<div class="tab-block">
    				<div class="nav-top">
    					<img th:src="@{/images/lock.png}" class="tab-icon">
    					<div class="tab-title">Cybersecurity</div>
    					
    					<div class="skill-list">
    				        <div class="skill-item" th:each="skill : ${cybersecurity}">
    				            <img th:src="@{/images/{img}(img=${skill.image})}" 
    				                 th:alt="${skill.name}">
    				            <p th:text="${skill.name}"></p>
    				        </div>
    				    </div>
    			    </div>
    		    </div>
    			<div class="tab-block">
    				<div class="nav-top">
    					<img th:src="@{/images/cloud.png}" class="tab-icon">
    			        <div class="tab-title">DevOps & Cloud</div>
    					
    					<div class="skill-list">
    				        <div class="skill-item" th:each="skill : ${devops}">
    				            <img th:src="@{/images/{img}(img=${skill.image})}" 
    				                 th:alt="${skill.name}">
    				            <p th:text="${skill.name}"></p>
    				        </div>
    				    </div>
    			    </div>
    		    </div>
    		</div>
    	</section>
        
        <section id="projects">
    		<p id="titlecenter" class="title">Projects<br>
    		<div class="tab-container">
    			<div class="tab-block">
    				<div class="nav-top">
    			        <div class="tab-title">Portfolio Website</div>
    					<div class="tab-section">
    						<p class="section-desc">
    							The website you are on right now!
    						</p>
    						<a href="" class="section-desc">
    							Source Code
    						</a>
    					</div>
    			    </div>
    		    </div>
    		</div>
        </section>
    </div>
    <section th:insert="~{fragments/default :: contact}"></section>
    
	<script th:src="@{/js/waveform.js}"></script>
	<script th:src="@{/js/badges.js}"></script>
	<script th:src="@{/js/textformat.js}"></script>
	<script th:src="@{/js/typewriter.js}"></script>
</body>
</html>


